<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                      {{titleAction}}
                    </h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                       <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" formControlName="name">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="imagen">Imagen</label>
                            <input type="file" class="form-control-file form-control" formControlName="photo">
                          </div>
                          <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-success">{{optionBtn}}</button>
                          </div>
                       </div>
                      </form>
                </div>
              </div>
        </div>
        <div class="col-md-12">
        
        </div>
    </div>
</div>
